# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.env
.venv/
venv/

# --- VS Code ---
.vscode/

# --- Environment / Secrets ---
*.json        # hides service account keys, config files, credentials
*.env
*.key
*.keys
*.pemrm -rf .git
dbt_profiles/service-account-key.json
dbt_profiles/*.json


# --- Data files ---
*.csv
*.parquet
*.db

# --- OS files ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log

# --- Jupyter ---
.ipynb_checkpoints/

# --- Terraform ---
**/.terraform/*
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl